* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    scroll-behavior: smooth;
}

:root {
    --white: #FFFFFF;
    --gery: #E5E5E5;
    --yellow: #FCA311;
    --blue: #14213D;
    --black: #000000;

}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #000000;
}

nav ul a {
    margin: 0.71rem 2rem;
    text-decoration: none;
    color: var(--white);
}

.hero {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.heroleft {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.heroleft .name {
    line-height: 2rem;
    /* border: 1px solid red; */
}

.heroleft h1 {
    font-size: 3rem;
    /* text-transform: uppercase; */
}

.heroleft h2 {
    font-size: 1rem;
}

.heroright {
    box-sizing: border-box;
    /* border: 1px solid red; */
    width: 50%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroright img{
    height: 20rem;
    animation: img .5s alternate infinite;
    width: auto;
    background-color: var(--yellow);
    border-radius: 50%;
    position: relative;
}
@keyframes img {
    0%{
        top: 10px;
    }
    /* 50%{
        top: 0;
    } */
    100%{
        top: 0px;
    }
}

.about {
    box-sizing: border-box;
    background-color: var(--gery);
    height: 50vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}

.about h1 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem 0;
    text-align: center;
}

.about h1 hr {
    width: 5rem;
    margin: auto;
    background-color: var(--yellow);
    color: var(--yellow);
}

.about p {
    text-align: center;
    line-height: 1.52rem;
    width: 80vw;
    margin: 0 auto;
}

.projects {
    box-sizing: border-box;
    background-color: var(--blue);
    color: var(--white);
    height: 60vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem;
    /* height: 5rem; */
    text-align: center;
}

.projects h1 hr {
    width: 5rem;
    margin: auto;
    background-color: var(--yellow);
    color: var(--yellow);
}


/* cards */
.projects .card-cont{
    box-sizing: border-box;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.projects .card-cont .card{
    box-sizing: border-box;
    /* border: 1px solid red; */
    background-color: var(--gery);
    color: #000000;
    width: 22rem;
    height: 13rem;
    text-align: center;
    margin: 1rem 2rem;
    transition: all ease-in-out 0.51s;
}
.projects .card-cont .card img{
    width: 22rem;
    height: 11rem;
    transition: all ease-in-out 0.51s;
}
.projects .card-cont .card:hover{
    padding: 0.52rem;
    background: black;
    color: var(--yellow);
    box-shadow: 1px 1px 10px var(--yellow);
    border: 2px solid var(--yellow);
}
.projects .card-cont .card:hover img{
    height: 10rem;
    width: 21rem;
}



.service {
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--blue);
    /* height: 100vh; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.service h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}

.service h1 hr {
    width: 5rem;
    margin: auto;
    background-color: var(--yellow);
    color: var(--yellow);
}

